<div id="root">
    <script src="https://unpkg.com/react@16.0.0-rc.3/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.0.0-rc.3/umd/react-dom.development.js"></script>
    <script src=" https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel">
        const rootElement = document.getElementById('root')
        function tick() {
            const time = new Date().toLocaleTimeString();
            const element = <div className="container">It is {time}</div>
            ReactDOM.render(element, rootElement)
        }

        tick()
        setInterval(tick, 1000)
        /*class SayHello extends React.Component {

        }

        function SayHello(props) {
            return (
                <div>
                    Hello World!
                </div>
            )
        }

        SayHello.propTypes = {
            firstName(props, propName, compon) {

            }
        }
        ;
        ReactDOM.render(
            <SayHello firstname = {true}/>;
            document.getElementById('root');
        )*/
    </script>
</div>
