.navbar-light .navbar-nav .nav-link {
    color: #4a9fec;
    padding: 0 0 0 10px;
    font-size: 12px;
    text-transform: uppercase;


}

.navbar-light .navbar-brand {
    color: #4a9fec;

}

.NavBar {
    border-bottom: 1px solid #eee;
    background-color: #fff;

}

.logo {
    width: 26px;

}
