.Hairdresser-wrapper,
.Hairdresser-empty {
    flex: 1;
    min-width: 150px;
}

.DailyHairdressers > * {
    border-left: 1px solid #EBE8EC;
}

.DailyHairdressers > :last-child {
    border-right: 1px solid #EBE8EC;
}

.DailyHairdressers > :first-child .name {
    border-radius: 5px 0 0 5px;
}

.DailyHairdressers > :last-child .name {
    border-radius: 0 5px 5px 0;
}



.Hairdresser-empty .time {
    opacity: 0.1;
    background-color: #fff;
}

.Hairdresser .name {
    background-color:#4a9fec;
    color: #fff;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:14px;
}

.Hairdresser .time {
    border-top: 1px solid #eee;
    padding: 8px;
    font-size: 12px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#444;
    cursor:pointer;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(25,25,25,0.2);

}

.Hairdresser .time.minutes-30 {
    height: 35px
}

.Hairdresser .time.minutes-60 {
    height: 70px
}

.Hairdresser .time.minutes-90 {
    height: 105px
}

.Hairdresser .time.minutes-120 {
    height: 140px
}

.Hairdresser .time.minutes-150 {
    height: 175px
}

.Hairdresser .time.minutes-180 {
    height: 210px
}

.Hairdresser .time.minutes-210 {
    height: 245px
}

.Hairdresser .time i {
    color:#4a9fec;
    opacity:0;
    transition:opacity 300ms;
    cursor:pointer;
}
.Hairdresser .time:not(.active):hover i {
    opacity: 1;
}

.Hairdresser .time.active {
    background-color: #43d6a7;
    color: white;
    border-color: #43d6a7;
    cursor:pointer;
}

